__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
venv/
env/
build/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.sqlite3
*.db
*.log
*.pot
*.swp
*.swo
.idea/
.vscode/
node_modules/
frontend/node_modules/
*.egg-info/
.DS_Store
.pytest_cache/
__pycache__
/.cache
.coverage
*.cover
*.log
test_result.md
backend/db.sqlite3
