# OpenAPI 3.0 Specification for Ayurveda E-Learning Platform API
# This specification defines all API endpoints for the mobile app backend

openapi: 3.0.3
info:
  title: SlokaCamp Ayurveda E-Learning Platform API
  description: |
    Comprehensive API for the SlokaCamp mobile application providing Sanskrit, Ayurveda, and spiritual learning content with DRM protection and device management.
    
    ## Features
    - JWT-based authentication with refresh tokens
    - Social authentication (Google, Facebook, Apple)
    - Single device enforcement policy
    - DRM-protected video streaming
    - Screen capture detection and protection
    - Progress tracking and analytics
    - Subscription management with Stripe
    - Push notifications
    
    ## Security
    - All video content is protected with DRM (VdoCipher) or signed URLs
    - Screen recording detection blocks playback
    - Single active device per user policy
    - JWT tokens with automatic refresh
    
  version: 1.0.0
  contact:
    name: SlokaCamp API Support
    email: api-support@slokacamp.com
  license:
    name: Proprietary
    
servers:
  - url: https://api.slokacamp.com/api
    description: Production server
  - url: https://staging-api.slokacamp.com/api
    description: Staging server
  - url: http://localhost:8000/api
    description: Development server

security:
  - bearerAuth: []

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user account
      description: Register a new user with email verification and automatic device registration
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return JWT tokens with device validation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/DeviceLimitError'

  /auth/social:
    post:
      tags:
        - Authentication
      summary: Social authentication
      description: Authenticate with Google, Facebook, or Apple
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialAuth'
      responses:
        '200':
          description: Social authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Get new access token using refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh:
                  type: string
                  description: Refresh token
              required:
                - refresh
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                    description: New access token
        '400':
          $ref: '#/components/responses/ValidationError'

  # Device Management
  /devices/:
    get:
      tags:
        - Devices
      summary: List user devices
      description: Get all devices registered for the current user
      responses:
        '200':
          description: List of user devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'

    post:
      tags:
        - Devices
      summary: Register new device
      description: Register a new device for the user (may trigger device policy)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistration'
      responses:
        '201':
          description: Device registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '409':
          $ref: '#/components/responses/DeviceConflictError'

  /devices/transfer/:
    post:
      tags:
        - Devices
      summary: Transfer device access
      description: Transfer primary device access to a new device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTransfer'
      responses:
        '200':
          description: Device transfer successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTransferResponse'

  # Video Content and Streaming
  /videos/:
    get:
      tags:
        - Videos
      summary: List videos
      description: Get paginated list of videos with filtering options
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by content category
        - name: search
          in: query
          schema:
            type: string
          description: Search in title and description
      responses:
        '200':
          description: List of videos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoList'

  /videos/{id}/:
    get:
      tags:
        - Videos
      summary: Get video details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Video details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '404':
          $ref: '#/components/responses/NotFound'

  # Playback Session Management
  /playback/start:
    post:
      tags:
        - Playback
      summary: Start playback session
      description: Start a new video playback session with DRM protection and device validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackStart'
      responses:
        '201':
          description: Playback session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackSession'
        '403':
          $ref: '#/components/responses/PlaybackForbidden'
        '409':
          $ref: '#/components/responses/ConcurrentSessionError'

  /playback/heartbeat:
    post:
      tags:
        - Playback
      summary: Send playback heartbeat
      description: Maintain active playback session and update progress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackHeartbeat'
      responses:
        '200':
          description: Heartbeat recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartbeatResponse'
        '410':
          $ref: '#/components/responses/SessionExpired'

  /playback/end:
    post:
      tags:
        - Playback
      summary: End playback session
      description: End the current playback session and save progress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackEnd'
      responses:
        '200':
          description: Playback session ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybackEndResponse'

  # Course Management
  /courses/:
    get:
      tags:
        - Courses
      summary: List courses
      description: Get paginated list of courses with filtering
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
      responses:
        '200':
          description: List of courses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseList'

  /courses/{id}/:
    get:
      tags:
        - Courses
      summary: Get course details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Course details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'

  /courses/{id}/enroll:
    post:
      tags:
        - Courses
      summary: Enroll in course
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Enrollment successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enrollment'
        '403':
          $ref: '#/components/responses/SubscriptionRequired'

  # User Dashboard and Progress
  /dashboard/:
    get:
      tags:
        - Dashboard
      summary: Get user dashboard data
      description: Get personalized dashboard with progress, recommendations, and recent activity
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'

  # Subscription and Payments
  /subscriptions/:
    get:
      tags:
        - Subscriptions
      summary: Get subscription plans
      security: []
      responses:
        '200':
          description: List of subscription plans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionPlan'

  /subscriptions/subscribe:
    post:
      tags:
        - Subscriptions
      summary: Create subscription
      description: Create a new subscription using Stripe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'

  /webhook/stripe:
    post:
      tags:
        - Webhooks
      summary: Stripe webhook
      description: Handle Stripe webhook events
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Authentication Schemas
    UserRegistration:
      type: object
      required:
        - email
        - username
        - password
        - confirm_password
        - device_id
        - device_name
        - platform
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        password:
          type: string
          minLength: 8
        confirm_password:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
          enum: [ios, android]
        push_token:
          type: string

    UserLogin:
      type: object
      required:
        - email
        - password
        - device_id
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
          enum: [ios, android, web]
        push_token:
          type: string

    SocialAuth:
      type: object
      required:
        - provider
        - access_token
        - device_id
        - device_name
        - platform
      properties:
        provider:
          type: string
          enum: [google, facebook, apple]
        access_token:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
          enum: [ios, android]
        push_token:
          type: string

    RegistrationResponse:
      type: object
      properties:
        message:
          type: string
        user_id:
          type: string
          format: uuid
        device_id:
          type: string
          format: uuid
        email_verification_required:
          type: boolean

    LoginResponse:
      type: object
      properties:
        access:
          type: string
        refresh:
          type: string
        device_id:
          type: string
          format: uuid
        is_primary_device:
          type: boolean
        user:
          $ref: '#/components/schemas/User'

    # Device Management Schemas
    Device:
      type: object
      properties:
        id:
          type: string
          format: uuid
        device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
          enum: [ios, android, web]
        is_primary:
          type: boolean
        is_active:
          type: boolean
        registered_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time

    DeviceRegistration:
      type: object
      required:
        - device_id
        - device_name
        - platform
      properties:
        device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
          enum: [ios, android, web]
        push_token:
          type: string
        device_fingerprint:
          type: object

    DeviceTransfer:
      type: object
      required:
        - new_device_id
        - device_name
        - platform
      properties:
        new_device_id:
          type: string
        device_name:
          type: string
        platform:
          type: string
        reason:
          type: string
          enum: [manual_transfer, device_lost]

    DeviceTransferResponse:
      type: object
      properties:
        message:
          type: string
        device:
          $ref: '#/components/schemas/Device'

    # Video and Content Schemas
    Video:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        duration:
          type: integer
          description: Duration in seconds
        thumbnail_url:
          type: string
          format: uri
        content_type:
          type: string
          enum: [lecture, demonstration, meditation, chanting]
        requires_subscription:
          type: boolean
        view_count:
          type: integer
        tags:
          type: array
          items:
            type: string

    VideoList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Video'

    # Playback Schemas
    PlaybackStart:
      type: object
      required:
        - video_id
        - device_id
      properties:
        video_id:
          type: string
          format: uuid
        device_id:
          type: string
          format: uuid
        lesson_id:
          type: string
          format: uuid
        start_position:
          type: integer
          default: 0

    PlaybackSession:
      type: object
      properties:
        session_token:
          type: string
        session_id:
          type: string
          format: uuid
        video_urls:
          type: object
          description: Signed URLs for video streaming
        drm_token:
          type: object
          description: DRM token for protected content
        expires_at:
          type: string
          format: date-time
        heartbeat_interval:
          type: integer
          default: 30

    PlaybackHeartbeat:
      type: object
      required:
        - session_token
        - current_position
      properties:
        session_token:
          type: string
        current_position:
          type: integer
          description: Current playback position in seconds
        buffer_events:
          type: integer
          default: 0
        video_quality:
          type: string
        screen_recording_detected:
          type: boolean
          default: false

    HeartbeatResponse:
      type: object
      properties:
        status:
          type: string
        session_status:
          type: string
        should_pause:
          type: boolean

    PlaybackEnd:
      type: object
      required:
        - session_token
      properties:
        session_token:
          type: string
        end_position:
          type: integer
        completion_percentage:
          type: number
          format: float

    PlaybackEndResponse:
      type: object
      properties:
        message:
          type: string
        watch_duration:
          type: integer
        completion_percentage:
          type: number
          format: float

    # Course Schemas
    Course:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [slokas, ayurveda, meditation, yoga, astrology]
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        estimated_duration:
          type: integer
          description: Duration in minutes
        instructor_name:
          type: string
        is_free:
          type: boolean
        requires_subscription:
          type: boolean
        enrollment_count:
          type: integer
        average_rating:
          type: number
          format: float

    CourseList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Course'

    Enrollment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        course:
          $ref: '#/components/schemas/Course'
        status:
          type: string
          enum: [active, completed, paused]
        progress_percentage:
          type: number
          format: float
        enrolled_at:
          type: string
          format: date-time

    # User and Profile Schemas
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
        profile:
          $ref: '#/components/schemas/UserProfile'

    UserProfile:
      type: object
      properties:
        dosha_type:
          type: string
          enum: [vata, pitta, kapha, vata_pitta, pitta_kapha, vata_kapha, tridosha]
        learning_goals:
          type: array
          items:
            type: string
        experience_level:
          type: string
          enum: [beginner, intermediate, advanced, expert]
        total_watch_time:
          type: integer
        courses_completed:
          type: integer
        streak_days:
          type: integer

    # Dashboard Schema
    Dashboard:
      type: object
      properties:
        user_stats:
          type: object
          properties:
            total_watch_time:
              type: integer
            courses_completed:
              type: integer
            current_streak:
              type: integer
            total_xp:
              type: integer
        continue_learning:
          type: array
          items:
            $ref: '#/components/schemas/Enrollment'
        recommended_courses:
          type: array
          items:
            $ref: '#/components/schemas/Course'
        recent_activity:
          type: array
          items:
            type: object

    # Subscription Schemas
    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
        billing_period:
          type: string
          enum: [monthly, yearly]
        features:
          type: array
          items:
            type: string

    SubscriptionCreate:
      type: object
      required:
        - plan_id
        - payment_method_id
      properties:
        plan_id:
          type: string
        payment_method_id:
          type: string

    SubscriptionResponse:
      type: object
      properties:
        subscription_id:
          type: string
        client_secret:
          type: string
        status:
          type: string

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              details:
                type: object

    DeviceLimitError:
      description: Device limit reached
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Device limit reached"
              message:
                type: string
                example: "Maximum number of devices reached. Please deactivate another device first."

    DeviceConflictError:
      description: Device registration conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Device conflict"
              message:
                type: string
              current_device:
                $ref: '#/components/schemas/Device'

    PlaybackForbidden:
      description: Playback not allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    ConcurrentSessionError:
      description: Concurrent playback session detected
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Concurrent session detected"
              message:
                type: string

    SessionExpired:
      description: Playback session expired
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Session expired"
              message:
                type: string

    SubscriptionRequired:
      description: Active subscription required
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Subscription required"
              message:
                type: string

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Not found"
              message:
                type: string

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Devices
    description: Device registration and management
  - name: Videos
    description: Video content and metadata
  - name: Playback
    description: Video playback session management
  - name: Courses
    description: Course management and enrollment
  - name: Dashboard
    description: User dashboard and analytics
  - name: Subscriptions
    description: Subscription and payment management
  - name: Webhooks
    description: External service webhooks